<!-- <app-student-route></app-student-route> -->
<div class="container">
        <nav class="navbar-default">
        <ul class="nav nav-tabs">
            <li routerLinkActive="active">
                <a routerLink="AddStudent">Add Student</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="StudentsList">Students List</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="StudentInfo">Student Info</a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>